body {
	font-family: geneva;
	text-align: center;
	font-size: 14px;
	/*background-image:url('https://images.unsplash.com/photo-1463490093487-b0ffe9b8e140?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=96ea1002919c7bc9ba3cdaea99959e64');*/
}

p {
	padding: 20px;
	font-size: 10px;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	border-style: none;
}

.list .complete_list {
 	display: block;
}

li {
	padding: 10px;
	text-decoration: underline;
}

ul {
	padding: 0;
	display: inline-block;
	margin: 0;
}

#textbox {
	width: 300px;

}

.Form1 {
	padding: 15px;
}

@media (min-width: 600px) {

	p {
		font-size: 12px;
	}

	body {
		font-size: 12px;
	}

}

@media (min-width: 1000px){
	p {
		font-size: 14px;
	}

	body {
		font-size: 14px;
	}
}