body {
	font-family: geneva;
	text-align: center;
	font-size: 14px;
}

p {
	padding: 20px;
	font-size: 10px;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	border-style: none;
}

.list .complete_list {
 	display: block;
}

li {
	padding: 10px;
	text-align: left;
}

ul {
	padding: 0;
	display: inline-block;
	margin: 0;
	list-style-type: none;
}

.x{
	vertical-align: middle;
	margin-left: 5px;
}

.textbox {
	width: 300px;

}

.Form1 {
	padding: 15px;
}

.selected {
	text-decoration: line-through;

}

.checkbox{
	margin-right: 10px;
}

@media (min-width: 600px) {

	p {
		font-size: 12px;
	}

	body {
		font-size: 14px;
	}

}

@media (min-width: 1000px){
	p {
		font-size: 14px;
	}

	body {
		font-size: 16px;
	}
}