body {
	font-family: geneva;
	font-size: small;
	text-align: center;
}

h2 {

}

.list .complete_list {
 	display: block;
}

ul {
	padding: 0;
 	list-style-image: url('../checkbox.jpg');
}

@media (min-width: 600px) {

	body {
		...
	}

}

@media (min-width: 1000px){
	body {
		...
	}
}